/.metadata/
flujo_de_datos/.project
flujo_de_datos/.settings/org.eclipse.jdt.apt.core.prefs
flujo_de_datos/.settings/org.eclipse.jdt.core.prefs
flujo_de_datos/.settings/org.eclipse.m2e.core.prefs
flujo_de_datos/.classpath
flujo_de_datos/target/classes/META-INF/MANIFEST.MF
